Repository FStarLang/FStar, pull requests merged in 2021-06, with the labels that each got.

#2322 Improve Steel VC generation
  examples/steel/Selectors.Examples.fst
  examples/steel/Selectors.LList.fst
  examples/steel/Selectors.PtrLList.fst
  examples/steel/Selectors.Tree.Core.fst
  examples/steel/TwoLockQueue.fst
  ulib/experimental/Steel.Effect.Atomic.fst
  ulib/experimental/Steel.Effect.Atomic.fsti
  ulib/experimental/Steel.Effect.Common.fst
  ulib/experimental/Steel.Effect.Common.fsti
  ulib/experimental/Steel.Effect.fst
  ulib/experimental/Steel.Effect.fsti
Labels: Steel

#2275 Fix binary packages, push them to GitHub Releases
  .docker/build/build.sh
  .docker/package.Dockerfile
  .docker/release.Dockerfile
  .scripts/process_build.sh
  .scripts/process_build_linux_docker.sh
  .scripts/release-post.sh
  .scripts/release-pre.sh
  INSTALL.md
  Makefile
  doc/tutorial/code/exercises/Makefile
  doc/tutorial/code/solutions/Makefile
  examples/Makefile
  examples/steel/Makefile
  fstar.opam
  src/Makefile
  src/ocaml-output/Makefile
  ulib/Makefile
  ulib/ml/Makefile
  version.txt
Labels: area/usability, component/documentation, component/packaging

#2328 Steel: Do not generate framing equalities for emp
  ulib/experimental/Steel.Effect.Common.fst
  ulib/experimental/Steel.Effect.Common.fsti
Labels: Steel

#2297 References with selectors and permissions
  examples/steel/Selectors.Examples.fst
  ulib/experimental/Steel.Reference.fst
  ulib/experimental/Steel.Reference.fsti
Labels: Steel, component/libraries
